<div class="row">
  <div class="col-md-12">
    <h1>{{userNow.name}}</h1>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{userNow.image}}" style="width: 250px;margin-bottom: 25px;">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>User Name:</strong> {{userNow.name}}</li>
        <li><strong>User Email:</strong> {{userNow.email}}</li>
      </ul>
    </div>
  </div>
  <hr>
</div>

{{#ifCond userNow.id user.id}}
<a href="/users/{{userNow.id}}/edit" class="btn btn-success">Edit</a>
{{/ifCond}}